<%- include('header') %>
<link rel="stylesheet" href="/home.css">
<%  if(lists.length!=0){ %>
    <h1 class="your-list">Your Lists</h1>
    <% lists.forEach((list)=>{ %>
        <div class="card divEach" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title"><a href="<%= " /home/" + list.name %>"><%= startCase(list.name) %></a></h2>
                <hr>
                <p class="card-text"><%= list.description %> </p>
                <a href="<%= "/home/" + list.name %>" class="card-link">Open List</a>
                <button data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger btn-sm aDelete"  data-listid="<%= list._id %>">Delete List</button>
            </div>
        </div>
        <% }) %>
    
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                        <button class="btn btn-danger yesDelete" data-bs-dismiss="modal">Yes</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
<% }else{ %> 
    <h1 id="welcome-msg">
        Excited?
    </h1>
    <h2 id="instruction">Create your first list to Get Started</h2>
<% } %> 

<br>
<!-- Button trigger modal -->
<button data-bs-toggle="modal" data-bs-target="#exampleModal" id="create-list">
    Create list
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create your list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/home" method="post">
                    <label for="list-name">Enter list name: </label> <input type="text" name="listName" id="list-name">
                    <br><br>
                    <label for="list-description">List Description: </label> <input type="text" name="listDescription" id="list-description">
                    <br><br>
                    <button class=" btn btn-start">Start</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/home.js"></script>
<%- include('footer') %> 