<%- include ('header') -%> 
    <main>
        <% if(err){ %>
            <h1 style="text-align: center;"><%= err %> </h1>
        <% }else{ %>
            <div class="divDateTimeContainer">
                <div class="divListName">
                    <b>
                        <%= listName %>
                    </b>
                </div>
                <div class="divTime">
                    <%= dmy %> , <%= time %>
                </div>
            </div>
            <div class="divTodolistContainer">
                <div class="divTodolistItems">
                    <% for(let i=0 ; i< items.length;i++){ %>
                        <div class="divTodolistItem">
                            <input type="checkbox" name="item-<%= items[i]._id %>" id="item-<%= items[i]._id %>">
                            <div class="divLabel">
                                <label for="item-<%= items[i]._id %>">
                                    <%= items[i].text %>
                                </label>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="divTodolistAddNewItem">
                    <form action="/index" method="post">
                        <input type="text" name="newItem" class="inpNewItem" autocomplete="off" placeholder="New Item">
                        <div class="btnAndIcon">
                            <span class="btnAddNewItem spanIcon">
                                <i class="fas fa-plus fs-3x iIcon" style="color: white;"></i>
                            </span>
                            <span class="btnDelete spanIcon">
                                <i class="fas fa-trash fs-3x iIcon" style="color: white;"></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </main>
<%- include ('footer') -%> 