<%- include ('header') -%> 
<link rel="stylesheet" href="/home.css">
    <main>
        <% if(err){ %>
            <h1 class="err"><%= err %> </h1>
        <% }else{ %>
            <div class="divDateTimeContainer">
                <div class="divListName"  data-listname="<%= listName %>"><%= listName %></div>
                <div class="divTime">
                    <%= dmy %> , <%= time %>
                </div>
            </div>
            <div class="divTodolistContainer">
                <div class="divTodolistItems">
                    <% for(let i=0 ; i< items.length;i++){ %>
                        <div class="divTodolistItem" class="item-<%= items[i]._id %>" id="serialize-<%= items[i]._id %> "> 
                            <% if (items[i].checked == true){ %>
                                <input type="checkbox"  name="item-<%= items[i]._id %>" id="item-<%= items[i]._id %>" checked>
                                <div class="divLabel">
                                    <label class="checked" for="item-<%= items[i]._id %>">
                                        <%= items[i].text %>
                                    </label>
                                    <div class="upDownBtn">
                                        <i class="fas fa-sort-up upBtn"></i>
                                        <i class="fas fa-sort-down downBtn"></i>
                                    </div>
                                </div>
                            <% }else{ %>
                                <input type="checkbox" name="item-<%= items[i]._id %>" id="item-<%= items[i]._id %>">
                                <div class="divLabel">
                                    <label for="item-<%= items[i]._id %>">
                                        <%= items[i].text %>
                                    </label>
                                    <div class="upDownBtn">
                                        <i class="fas fa-sort-up upBtn"></i>
                                        <i class=" fas fa-sort-down downBtn"></i>
                                    </div>
                                </div>
                            <% } %> 
                        </div>
                        <% } %>
                </div>
                <div class="divTodolistAddNewItem">
                    <form action="/home/<%= listName %>" method="post" id="formAddItem">
                        <input type="text" name="newItem" class="inpNewItem" autocomplete="off" placeholder="New Item" autofocus>
                        <div class="btnAndIcon">
                            <span class="btnAddNewItem spanIcon">
                                <i class="fas fa-plus fs-3x iIcon" style="color: white;"></i>
                            </span>
                            <span class="btnDelete spanIcon">
                                <i class="fas fa-trash fs-3x iIcon" style="color: white;"></i>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create your list</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/home" method="post">
                            <label for="list-name">Enter list name: </label> <input type="text" name="listName" id="list-name">
                            <br><br>
                            <label for="list-description">List Description: </label> <input type="text" name="listDescription"
                                id="list-description">
                            <br><br>
                            <button class=" btn btn-start">Start</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include ('footer') -%> 