<%- include('header') %>
    <link rel="stylesheet" href="/home.css">
    <style>
        * {
            text-align: left;
        }
        a {
            text-decoration: none;
        }
        .oauth{
            background-color: white;;
            min-height: 5rem;
            border-radius: 10px;
        }
        .google-auth{
            padding-top: 1.2rem;
            text-align: center;
        }
        .signup-container{
            padding: 2rem;
            border-radius: 10px;
            background-color: lightcoral;
        }
        .form-input{
            margin: 1rem;
        }
        .form-input input{
            width: 95%;
        }
        .signin{
            color: black;
        }
        .input-error{
            color: rgb(255, 0, 0);
        }
    </style>
    <h1 id="welcome-msg">
        Sign Up
    </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="local-auth">
                <div class="signup-container">
                    <form action="/auth/signup" method="post">
                        <div class="form-input">
                            <label for="name">Your Name : </label>
                            <input type="text" name="name" id="name" value="<%= errorsAndPreviousValues.nameValue %>">
                        </div>
                        <div class="form-input">
                            <label for="username">Username : </label>
                            <input type="text" name="username" id="username" value="<%= errorsAndPreviousValues.usernameValue %> "
                                required>
                            <!-- Sometimes usernameError or passwordError may be undefined , but there is no problem in it , until you try to access it as usernameError[0].Undefined elements will simply not be rendered , which is what we want. -->
                            <small class="input-error">
                                <%= errorsAndPreviousValues.usernameError %>
                            </small>
                        </div>
                        <div class="form-input">
                            <label for="email">Email : </label>
                            <input type="text" name="email" id="email" value="<%= errorsAndPreviousValues.emailValue %> ">
                        </div>
                        <div class="form-input">
                            <label for="password">Password : </label>
                            <input type="password" name="password" id="password" required>
                            <small class="input-error">
                                <%= errorsAndPreviousValues.passwordError %>
                            </small>
                        </div>
                        <div class="form-input">
                            <label for="password-confirm">Confirm Password : </label>
                            <input type="password" name="passwordConfirm" id="password-confirm" required>
                            <small class="input-error">
                                <%= errorsAndPreviousValues.passwordConfirmError %>
                            </small>
                        </div>
                        <button class="btn btn-danger">Sign Up</button>
                    </form>
                </div>
                <small class="signin">Already have an account? <a href="/auth/signin">Sign In</a></small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="oauth">
                <div class="google-auth">
                    <a href="/auth/google/" class="btn btn-block btn-social btn-google">
                        <i class="fab fa-google"></i>
                        Sign Up with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <%- include('footer') %>